<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/cdn/bootstrap.min.css">
    <link rel="stylesheet" href="/static/cdn/fontawsome.min.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="/static/cdn/jquery.dataTables.min.css">
    
</head>

<body>


    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">

            <button class="btn " id="Example" data-bs-toggle="">
                <i class="fa fa-solid fa-bars-staggered text"></i>
            </button>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="" role="search">
                        <input class="form-control search " type="search" placeholder="Search" aria-label="Search"  id="search-input">

                    </li>
                    <li class="nav-item d-flex">
                        <div class=" px-3 "> <a class="nav-link " href="#"><i class="fa-solid fa-bell text"></i></a>
                        </div>
                        <div class=" px-3"> <a class="nav-link" href="#"> <i
                                    class="fa-solid fa-list-check text"></i></a></div>
                        <div class=" px-3"> <a class="nav-link" href="#"> <i class="fa-solid fa-envelope text"></i></a>
                        </div>
                    </li>

                    <div class="btn-group">
                        <button class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img src="/static/images/brand/admin.jpg" alt="" class="rounded-circle " width="30"
                                height="30">
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end ">

                            <li><a class="dropdown-item " href="#" class="dash-iconn  "> <span class="dash-iconn "><i
                                            class="fa-solid fa-user"></i></span>Profile</a></li>
                            <li><a class="dropdown-item " href="#" class="dash-iconn  "> <span class="dash-iconn "><i
                                            class="fa-solid fa-gear"></i></span>Setting</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li id="logout"><span class="dropdown-item" class="dash-iconn"> <span class="dash-iconn "><i
                                            class="fa-solid fa-right-from-bracket"></i></span>Log out </span></li>

                        </ul>
                    </div>

                </ul>

            </div>
        </div>
    </nav>







  

    <script src="/static/cdn/fontawesome.all.min.js"></script>
    <script src="/static/cdn/Chart.js"></script>
    <script src="/static/cdn/jquery-3.6.0.min.js"></script>
    
  

    <script src="/static/cdn/circle-progress.min.js"></script>
    
    <script src="/static/js/sc.js"></script>
    <script src="/static/cdn/bootstrap.bundle.min.js"></script>
    <script src="/static/cdn/jquery.dataTables.min.js"></script>
    <script src="/static/cdn/popper.min.js"></script>
    <script>
        $(document).ready(function () {
            $(document).on('click', '#logout', function () {
                $.ajax({
                    type: 'GET',
                    url: '/logout',
                    data: { "lala": 'lalal' },
                    success: function (response) {
                        if (response.msg == 'logout') {
                            console.log(response.msg);
                            window.location.reload()
                        }
                    }
                })
            })
        })


    </script>
