<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>

<body>




  

    <%- include('common/header.ejs') %>
    <div class="container-fluid p-0">
        
        <div class="d-flex">
            <%- include('common/sidebar.ejs') %>
                <div class="w-100 m-4 ">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-3 mb-3 mb-sm-0">
                                <div class="card">
                                    <div class="card-body d-flex ">
                                        <div>
                                            <h4 class="card-title">$12.34<span class="text-success h6 ms-2">+11%</span>
                                            </h4>
                                            <p class="card-text">Potential growth</p>
                                        </div>
                                        <div class="ms-auto icon_bg">
                                            <i class="fa fa-solid fa-gauge text-light fs-3"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 mb-3 mb-sm-0">
                                <div class="card">
                                    <div class="card-body d-flex ">
                                        <div>
                                            <h4 class="card-title">$12.34<span class="text-success h6 ms-2">+11%</span>
                                            </h4>
                                            <p class="card-text">Potential growth</p>
                                        </div>
                                        <div class="ms-auto icon_bg">
                                            <i class="fa fa-solid fa-gauge text-light fs-3"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 mb-3 mb-sm-0">
                                <div class="card">
                                    <div class="card-body d-flex ">
                                        <div>
                                            <h4 class="card-title">$12.34<span class="text-success h6 ms-2">+11%</span>
                                            </h4>
                                            <p class="card-text">Potential growth</p>
                                        </div>
                                        <div class="ms-auto icon_bg">
                                            <i class="fa fa-solid fa-gauge text-light fs-3"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 mb-3 mb-sm-0">
                                <div class="card">
                                    <div class="card-body d-flex ">
                                        <div>
                                            <h4 class="card-title">$12.34<span class="text-success h6 ms-2">+11%</span>
                                            </h4>
                                            <p class="card-text">Potential growth</p>
                                        </div>
                                        <div class="ms-auto icon_bg">
                                            <i class="fa fa-solid fa-gauge text-light fs-3"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <style>
                           
                        </style>

                        <div class="row">
                            <div class="col-8 p-2 ">

                                <div class="chart">
                                    <canvas id="myChart" width="400" height="200"></canvas>
                                </div>


                            </div>
                            <div class="col-4 p-2 ">
                                <div class="card h-100">
                                    <div class="circle">
                                        <div class="bar"></div>
                                        <div class="box"><span></span></div>
                                    </div>
                                    <div class="text">HTML & CSS</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 p-2 ">
                                    <div class="card js">
                                        <div class="circle">
                                            <div class="bar"></div>
                                            <div class="box"><span></span></div>
                                        </div>
                                        <div class="text">JavaScript</div>
                                    </div>





                                </div>
                                <div class="col-4 p-2 ">
                                    <div class="card node">
                                        <div class="circle">
                                            <div class="bar"></div>
                                            <div class="box"><span></span></div>
                                        </div>
                                        <div class="text">NodeJs</div>
                                    </div>
                                </div>
                                <div class="col-4 p-2 ">
                                    <div class="card react">
                                        <div class="circle">
                                            <div class="bar"></div>
                                            <div class="box"><span></span></div>
                                        </div>
                                        <div class="text">React JS</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>





        </div>










        <script>
            let options = {
                startAngle: -1.55,
                size: 150,
                value: 0.75,
                fill: { gradient: ['#15e003', '#02be0c'] }
            }
            $(".circle .bar").circleProgress(options).on('circle-animation-progress',
                function (event, progress, stepValue) {
                    $(this).parent().find("span").text(String(stepValue.toFixed(2).substr(2)) + "%");
                });
            $(".js .bar").circleProgress({
                value: 0.70
            });
            $(".node .bar").circleProgress({
                value: 0.90
            });
            $(".react .bar").circleProgress({
                value: 0.60
            });
        </script>






        <script>var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line', // also try bar or other graph types

                // The data for our dataset
                data: {
                    labels: ["Jun 2016", "Jul 2016", "Aug 2016", "Sep 2016", "Oct 2016", "Nov 2016", "Dec 2016", "Jan 2017", "Feb 2017", "Mar 2017", "Apr 2017", "May 2017"],
                    // Information about the dataset
                    datasets: [{
                        label: "Rainfall",
                        backgroundColor: '#0c3602',
                        borderColor: 'rgb(0, 209, 63)',
                        data: [26.4, 39.8, 66.8, 66.4, 40.6, 55.2, 77.4, 69.8, 57.8, 76, 110.8, 142.6],
                    }]
                },

                // Configuration options
                options: {
                    layout: {
                        padding: 10,
                    },
                    legend: {
                        position: 'bottom',
                    },
                    title: {
                        display: true,
                        text: 'Precipitation in Toronto'
                    },
                    scales: {
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Precipitation in mm'
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Month of the Year'
                            }
                        }]
                    }
                }
            });
        </script>


        








        <script>
            $(document).ready(function () {
                $('#Example').on('click', function () {
                    let off = $('.sidebar')
                    off.toggleClass('off_sidebar')
                    // let btttt = $('.btttt')
                    // btttt.html('jfwafwijfia')
                    setTimeout(function () {
                        let dash_text2 = $('.dash-text')
                        dash_text2.toggleClass('dash_text2')
                    }, 300);
                })
            })

        </script>



</body>

</html>