

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/cdn/bootstrap.min.css">
    <link rel="stylesheet" href="/static/cdn/fontawsome.min.css">
</head>
<body>
    








    <script src="/static/cdn/bootstrap.bundle.min.js"></script>
    <script src="/static/cdn/jquery-3.6.0.min.js"></script>
    <script src="/static/cdn/popper.min.js"></script>
    <script src="/static/cdn/fontawesome.all.min.js"></script>
</body>
</html>