

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/cdn/bootstrap.min.css">
    <link rel="stylesheet" href="/static/cdn/fontawsome.min.css">
</head>
<body>
    


    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
    
            <button class="btn " id="Example" data-bs-toggle="">
                <i class="fa fa-solid fa-bars-staggered "></i>
            </button>
    
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="" role="search">
                        <input class="form-control search " type="search" placeholder="Search" aria-label="Search">
    
                    </li>
                    <li class="nav-item d-flex">
                        <div class="brdr_l px-3"> <a class="nav-link" href="#"> <i
                                    class="fa fa-solid fa-gauge text-light"></i></a></div>
                        <div class="brdr_l px-3"> <a class="nav-link" href="#"> <i
                                    class="fa fa-solid fa-gauge text-light"></i></a></div>
                        <div class="brdr_l px-3"> <a class="nav-link" href="#"> <i
                                    class="fa fa-solid fa-gauge text-light"></i></a></div>
                    </li>
    
                    <div class="btn-group">
                        <button class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="/static/images/brand/admin.jpg" alt="" class="rounded-circle " width="30"
                                height="30">
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end ">
                            <li><a class="dropdown-item" href="#"> <span class="dash-icon "><i
                                            class="fa fa-solid fa-gauge text-light"></i></span>Profile</a></li>
    
                            <li><a class="dropdown-item pt-3" href="#"> <span class="dash-icon "><i
                                            class="fa fa-solid fa-gauge text-light"></i></span>Setting</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
    
                            <li><a class="dropdown-item" href="#"> <span class="dash-icon "><i
                                            class="fa fa-solid fa-gauge text-light"></i></span>Log out </a></li>
    
                        </ul>
                    </div>
    
                </ul>
    
            </div>
        </div>
    </nav>
    






    <script src="/static/cdn/bootstrap.bundle.min.js"></script>
    <script src="/static/cdn/jquery-3.6.0.min.js"></script>
    <script src="/static/cdn/popper.min.js"></script>
    <script src="/static/cdn/fontawesome.all.min.js"></script>
</body>
</html>