<head>
<link rel="stylesheet" href="/static/cdn/bootstrap.min.css">
<link rel="stylesheet" href="/static/cdn/fontawsome.min.css">

</head>
<body class="log_page">
    
<style>

    .log_page{  
        display:flex;
  justify-content:center;
  align-items: center;

  height:100vh;
  width:100vw;
  background:url('/static/images/brand/Background 132.jpg') no-repeat;
  background-size:cover;
  background-position:center;}
   .signin
    {
        width: 400px;
        backdrop-filter: blur(6px);
        background: transparent;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
        border-radius: 6px;
        box-shadow: 0 15px 35px rgba(0,0,0,19);
    }
    .signin .content 
    {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }
     .signin .content h2 
    {
        font-size: 2em;
        color: rgb(0, 160, 0);
        text-transform: uppercase;
    }
    .signin .content .form 
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
  .signin .content .form .inputBox
    {
        position: relative;
        width: 100%;
        background-color:#00000063;   
    }
   .signin .content .form .inputBox input 
    {
        position: relative;
        width: 100%;
        background:#00000063;
        border: none;
        outline: none;
        padding: 25px 10px 7.5px;
        border-radius: 4px;
        color: #fff;
        font-weight: 500;
        font-size: 1em;
    }
    .signin .content .form .inputBox i 
    {
        position: absolute;
        left: 0;
        
        padding: 15px 10px;
        font-style: normal;
        color: #aaa;
        transition: 0.5s;
        pointer-events: none;
    }
    .signin .content .form .inputBox input:focus ~ i,
    .signin .content .form .inputBox input:valid ~ i
    {
        transform: translateY(-7.5px);
        font-size: 0.8em;
        color: #fff;
    }
    .signin .content .form .links 
    {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .signin .content .form .links a 
    {
        color: #bebebeb0;
        text-decoration: none;
    }
    .signin .content .form .links a:nth-child(2)
    {
        color: rgb(0, 153, 0);
        font-weight: 600;
    }
    .signin .content .form .inputBox input[type="submit"]
    {
        padding: 10px;
        background: rgb(3, 124, 3);
        color: #000;
        font-weight: 600;
        font-size: 1.35em;
        letter-spacing: 0.05em;
        cursor: pointer;
    }
    input[type="submit"]:active
    {
        opacity: 0.6;
    }
    
    </style>


    <div class="signin">
      <div class="content">
        <h2>Sign In</h2>
        <div class="form">
          <div class="inputBox">
            <input type="text" id="user_email" required>
            <i>Username</i>
          </div>
          <div class="inputBox">
            <input type="password" id="user_pass" required >
            <i>Password</i>
          </div>
          <div class="links">
            <a href="#">Forgot Password</a>
            <a href="#">Signup</a>
          </div>
          <div class="inputBox">
            <input type="submit"  id="sbbtn" value="SUBMIT">
          </div>
        </div>
      </div>
    </div>





</body>



<script src="/static/cdn/bootstrap.bundle.min.js"></script>
<script src="/static/cdn/jquery-3.6.0.min.js"></script>
<script src="/static/cdn/popper.min.js"></script>
<script src="/static/cdn/fontawesome.all.min.js"></script>






    <script>
        $(document).ready(function () {
            $('#sbbtn').on('click', function () {

                var user_email = $('#user_email').val();
                var user_pass = $('#user_pass').val();

                $.ajax({
                    type: 'POST',
                    url: '/login',
                    data: { user_email: user_email, user_pass: user_pass },
                    success: function (response) {
                        let user_type = response.user_role
                        console.log(user_type);
                        if (user_type == 'user') {
                            window.location.href = '/'
                        } else if (user_type == 'admin') {
                            window.location.href = '/admin'
                        } else {
                            window.location.href = '/signup'
                        }
                    }
                })
            })
        })
    </script>


