<head>
  <link rel="stylesheet" href="/static/cdn/bootstrap.min.css">
  <link rel="stylesheet" href="/static/cdn/fontawsome.min.css">
  <link rel="stylesheet" href="/static/css/admin.css">

</head>

<body class="log_page">



  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-6 d-flex justify-content-center">


        <div class="signin">
          <div class="content">
            <h2>Sign In</h2>
            <div class="form">

              <div class="d-flex justify-content-center">

                <div class="profile_holder">

                  <img id="preview">
                  <i class="fa-solid fa-image text fs-3" id="icon_pro"></i>
                </div>

                <input type="file" id="user_profile" hidden>
              </div>

              <input type="hidden" name="" id="latitude">
              <input type="hidden" name="" id="longitude">
              <div class="inputBox">
                <input type="text" name="" id="user_name">
                <i>Username</i>
              </div>
              <div class="inputBox">
                <input type="text" name="" id="user_email">
                <i>Email</i>
              </div>
              <div class="inputBox">
                <input type="number" name="" id="user_number">
                <i>Phone Number</i>
              </div>
              <div class="inputBox">
                <input type="text" name="" id="user_pass">
                <i>Password</i>
              </div>
              <div class="links">
                <a href="/login">Already Have a Account ?</a>
                <a href="/login">Signin</a>
              </div>
              <div class="inputBox">
                <input type="submit" name="" id="lala">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>



<script src="/static/cdn/bootstrap.bundle.min.js"></script>
<script src="/static/cdn/jquery-3.6.0.min.js"></script>
<script src="/static/cdn/popper.min.js"></script>
<script src="/static/cdn/fontawesome.all.min.js"></script>

<script>
  $(document).ready(function () {
    if (navigator.geolocation) {

      navigator.geolocation.getCurrentPosition(function (position) {

        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;

        $('#latitude').val(latitude);
        $('#longitude').val(longitude);
      });
    } else {
      Longitude = ' '
      Latitude = ' '
    }
    $('#lala').on('click', function () {


      var user_profile = $('#user_profile')[0].files[0];
console.log(user_profile);
      var user_name = $('#user_name').val();
      var user_email = $('#user_email').val();
      var user_number = $('#user_number').val();
      var user_pass = $('#user_pass').val();
      var latitude = $('#latitude').val();
      var longitude = $('#longitude').val();
      var formdata = new FormData()
      formdata.append('user_profile', user_profile)
      formdata.append('user_name', user_name)
      formdata.append('user_email', user_email)
      formdata.append('user_pass', user_pass)
      formdata.append('user_number', user_number)
      formdata.append('latitude', latitude)
      formdata.append('longitude', longitude)
      $.ajax({
        type: 'POST',
        url: '/new_signup',
        data: formdata,
        contentType: false,
        processData: false,
        success: function (response) {
          if(response.msg=='ok'){
            window.location.href='/login'
          }
        }
      })
    })
  })


  $('.profile_holder').click(function () {
    var profile = $('#user_profile')
    profile.click()
  })


  document.getElementById('user_profile').onchange = function () {
    var src = URL.createObjectURL(this.files[0])
    document.getElementById('preview').src = src
    var profile = $('#icon_pro')
    profile.hide()
    document.getElementById('preview').style.width = '130px';


  }

</script>