<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zoro-Community</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/x-icon" href="image/logo.gif">
  <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

</head>

<body>
<nav class="navbar navbar-expand-lg bg-black navbar-dark fixed-top py-0">
    <div class="container py-2">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mx-auto lol tabs " href="index.html"><img src="image/logo.gif" alt="" class="img-fluid">ⱫØⱤØ</a>

      <div class="collapse navbar-collapse mx-lg-5 mx-sm-0" id="navbarText">
        <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">

          <li class="nav-item mx-4 lol tabs">
            <a class="nav-link" aria-current="page" href="pc.html">PC</a>
          </li>
          <li class="nav-item mx-4 lol tabs">
            <a class="nav-link" href="console.html">CONTROLLER</a>
          </li>
          <li class="nav-item mx-4 lol tabs">
            <a class="nav-link" href="Laptop.html">LAPTOP</a>
          </li>
          <li class="nav-item mx-4 lol tabs">
            <a class="nav-link" href="accessories.html">ACCESSORIES</a>
          </li>
          <li class="nav-item mx-4 lol tabs">
            <a class="nav-link" href="service.html">SERVICE</a>
          </li>
          <li class="nav-item mx-4 lol tabs">
            <a class="nav-link active" href="community.html">COMMUNITY</a>
          </li>
          <div class="collapse " id="collapseExample">
            <div class="card card-body bg-black">
              <input type="search" name="" class="bcolor lol rounded-2">
            </div>
          </div>
          <li class=" mx-4 "><a class="btn py-1" data-bs-toggle="collapse" href="#collapseExample" role="button"
              aria-expanded="false" aria-controls="collapseExample">
              <img src="image/search.png" width="15" alt="" class=" lol tabs"></a>

          </li>
        </ul>

      </div>
    </div>
</nav>

  <!-- header video -->

  <div id="carouselExampleCaptions" class="carousel slide  carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
        aria-label="Slide 4"></button>

    </div>
    <div class="carousel-inner ">
      <div class="carousel-item active" data-bs-interval="2000">
        <video autoplay loop preload>
          <source src="video/c1.mp4">
        </video>
        
      </div>
      <div class="carousel-item">
        <video autoplay="" loop="" preload="" data-bs-interval="2000">
          <source src="video/c2.mp4">
        </video>
       
      </div>
      <div class="carousel-item">
        <video autoplay="" loop="" preload="" data-bs-interval="2000">
          <source src="video/c1.mp4">
        </video>
       
      </div>
      <div class="carousel-item">
        <video autoplay="" loop="" preload="" data-bs-interval="2000">
          <source src="video/c1.mp4">
        </video>
        <div class="carousel-caption d-none d-md-block headcarousal">
          <h1 class="fw-bold fcolor">MG SONIC 10</h1>
          <h6 class="my-2">Exclusive CORSAIR OPX optical-mechanical keyswitches performance.</h6>
          <button class="btn btn-outline-warning my-4 lol">SHOP NOW </button>
        </div>
      </div>
    </div>

  </div>
  <!-- body message -->
  <div class="container-fluid my-5 p-5 text-center text-light">
    <div class="display-1 fcolor m-5 py-5 f2 fw-bolder l31">DO YOUR THING</div>
    <h6 class=" px-5 mb-5 pb-5 l32 ">Whether it’s gaming, streaming, creating, or just chilling, everyone has their thing.
      And the pursuit of your thing<br> – that’s our thing. All the gear we build, all the tech we innovate,<br> all the
      details we sweat, is for one purpose: to help you do your thing, better.</h6>
  </div>

  <!-- carousel -->
  <div id="carouselExample" class="carousel carousel-fade mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="community/1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="community/bg-1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="community/3.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="community/4.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!--  partner-->
  <div class="container-fluid  text-center text-light pt-5 mt-5">
    <span class="display-1 fcolor fw-bold f2 l31">PARTNER'S</span>
  </div>
  <div class="container d-sm-flex justify-content-center text-light  py-1 pb-5 mb-5">
    <div class="col-lg-3 col-sm-4  rounded text-center m-3 l26">
      <div class="card  lol bg-transparent border-0">
        <div class="card-body "><a href="" class="text-decoration-none text-light">
            <img src="community/lo.png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4  rounded text-center m-3 l25">
      <div class="card lol bg-transparent border-0 pt-2">
        <div class="card-body "><a href="service.html" class="text-decoration-none text-light">
            <img src="community/fwafa.png" alt="" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4  rounded text-center m-3 lala22">
      <div class="card lol bg-transparent border-0 pt-2">
        <div class="card-body "><a href="" class="text-decoration-none text-light">
            <img src="community/fwawf.png" alt="" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- 4 card -->

  <div class="container text-center px-5">
    <div class="row justify-content-center">
      <div class="col-md-4  lol m-3 l26">
        <div class="card text-bg-dark">
          <img src="community/ca1.jpg.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title fstyl">CHAT ON ZORO INSIDER</h5>
            <a href="" class="text-decoration-none">
              <h6 class="text-warning">LEARN MORE ></h6>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 lol m-3 l27">
        <div class="card text-bg-dark">
          <img src="community/a.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title fstyl">LEARN ABOUT OUR SUSTAINABILITY EFFORTS TO SAVE TREES</h5>
            <a href="" class="text-decoration-none">
              <h6 class="text-warning">LEARN MORE ></h6>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-4 justify-content-center">
      <div class="col-md-4 lol m-3 l28">
        <div class="card text-bg-dark">
          <img src="community/R.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title fstyl">GLOW UP WITH OUR DESKTOP WALLPAPERS </h5>
            <a href="" class="text-decoration-none">
              <h6 class="text-warning">LEARN MORE ></h6>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 lol m-3 l29">
        <div class="card text-bg-dark">
          <img src="community/d.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title fstyl">BE A PART OF OUR DEVELOPER COMMUNITY</h5>
            <a href="" class="text-decoration-none">
              <h6 class="text-warning">LEARN MORE ></h6>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- memebers -->
  <div class="container-fluid  text-center text-light my-5 py-5">
    <span class="display-2 fcolor fw-bolder f2 l25">TALENTED MEMBER'S</span>

    <div class="container d-sm-flex justify-content-center text-light my-5 py-1">
      <div class="col-lg-3 col-sm-4  rounded text-center m-3 lala21">
        <div class="card bg-transparent border-0 lol">
          <div class="card-body "><a href="accessories.html" class="text-decoration-none text-light">
              <div id="carouselExampleSlidesOnly mt-5 pt-5" class=" carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="3000">
                    <img src="community/111.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="3000">
                    <img src="community/33.webp" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="3000">
                    <img src="community/7.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="3000">
                    <img src="community/8.png" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-4  rounded text-center m-3 l25">
        <div class="card bg-transparent border-0 lol">
          <div class="card-body "><a href="accessories mouse.html" class="text-decoration-none text-light">
              <div id="carouselExampleSlidesOnly mt-5 pt-5" class=" carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="3000">
                    <img src="community/33.webp" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="3000">
                    <img src="community/44.webp" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="3000">
                    <img src="community/9.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="3000">
                    <img src="community/10.png" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-sm-4  rounded text-center m-3 lala22">
        <div class="card bg-transparent border-0 lol">
          <div class="card-body "><a href="" class="text-decoration-none text-light">
              <div id="carouselExampleSlidesOnly mt-5 pt-5" class=" carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="3000">
                    <img src="community/5.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="3000">
                    <img src="community/6.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="3000">
                    <img src="community/111.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="3000">
                    <img src="community/22.webp.png" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!--join us  -->
  <div class="container-fluid  text-center text-light my-5 py-5">
    <p class="h6 text-warning ps-4 lol  l26">OVER 2 MILLION FANS</p>
    <span class="display-1 fcolor fw-bold fst-italic f2 l25">JOIN US</span>
    <h6 class="mt-4 lala21">No matter what type of player you are, ZORO has a community for you. Join game nights on our
      Discord,
      <br> find new streamers on our Twitch team, and share your epic PC builds on Reddit.
    </h6>
    <div class="row">
      <div class="col-lg-3 col-sm-6 p-5 lol "><a href=""><img src="community/dis.svg" alt=""
            class="img-fluid discord rounded-3 l26"></a></div>
      <div class="col-lg-3 col-sm-6 p-5 lol "><a href=""><img src="community/insta.svg" alt=""
            class="img-fluid insta rounded-3 l26"></a></div>
      <div class="col-lg-3 col-sm-6 p-5 lol "><a href=""><img src="community/mta.svg" alt=""
            class="img-fluid meta rounded-3 l26"></a></div>
      <div class="col-lg-3 col-sm-6 p-5 lol "><a href=""><img src="community/redd.svg" alt=""
            class="img-fluid reddit rounded-3 l26"></a></div>
      <div class="col-lg-3 col-sm-6 p-5 lol "><a href=""><img src="community/twitt.svg" alt=""
            class="img-fluid twitter rounded-3 l26"></a></div>
      <div class="col-lg-3 col-sm-6 p-5 lol "><a href=""><img src="community/tik.svg" alt=""
            class="img-fluid tiktok rounded-3 l26"></a></div>
      <div class="col-lg-3 col-sm-6 p-5 lol "><a href=""><img src="community/twi.svg" alt=""
            class="img-fluid twitch rounded-3 l26"></a></div>
      <!-- <div class="col-3"><img src="1.gif" alt="" class="img-fluid mt-4 pt-3"></div> -->

    </div>
  </div>




  <!-- footer -->
  <div class="container-fluid  border-top border-success text-light ">
    <div class="row my-4">
      <div class="col-lg-2 col-sm-4 py-4 lala20">
        <ul class="footer">
          <h5 class=" fcolor">SHOP</h5>
          <li>Zoro Store</li>
          <li>Store Locator</li>
          <li>Purchase Programs</li>
          <li>Warranty</li>
          <li>Exclusives</li>

        </ul>
      </div>

      <div class="col-lg-2 col-sm-4 py-4 lala21">
        <ul class="footer">
          <h5 class=" fcolor">Explore</h5>
          <li>Technology</li>
          <li>Chroma RGB</li>
          <li>Concepts</li>
          <li>Esports</li>
          <li>Zoro Innovation</li>

        </ul>
      </div>

      <div class="col-lg-2 col-sm-4  py-4 lala22">
        <ul class="footer">
          <h5 class=" fcolor">Support</h5>
          <li>Warranty</li>
          <li>ZoroStore Support</li>
          <li>Manage Zoro ID</li>
          <li>Support Videos</li>
          <li>Accessibility Statement</li>
          <li>Shipping/RMA/Returns</li>
        </ul>
      </div>

      <div class="col-lg-2 col-sm-4 py-4 lala23">
        <ul class="footer">
          <h5 class=" fcolor">About</h5>
          <li>Blog</li>
          <li>Supply Chain Disclosure</li>
          <li>Social Impact</li>
          <li>Careers</li>
          <li>Contact Us</li>
          <li>Blog</li>
        </ul>
      </div>

      <div class="col-lg-4 col-sm-4 py-4 lala24">
        <ul class="footer border-start border-dark border-3 ">
          <h5 class=" fcolor">BE THE FIRST TO KNOW</h5>
          <li>Get special offers, exclusive product news, and event <br> info straight to your inbox.</li>
          <li class="my-1">EMAIL</li>

          <label class="x">
            <input type="text" name="" placeholder="email" class="bg-dark rounded-2">
            <button class="btn btn-success">signup</button>
          </label>
          <li class="mt-1">
            <a href=""><img src="image/fb.png" alt="" class=" lol lala19"></a>
            <a href=""> <img src="image/ins.png" alt="" class=" lol lala19"></a>
            <a href=""> <img src="image/lin.png" alt="" class=" lol lala19"></a>
            <a href=""> <img src="image/twi.png" alt="" class=" lol lala19"></a>
             <a href=""><img src="image/yt.png" alt="" class=" lol lala19"></a>
          </li>
        </ul>
      </div>


    </div>
  </div>

  <div class="container-fluid px-5 z">

    <div class="row border-top border-success pt-2">

      <div class="col-sm-2 col-2 ">location <select name="country" id="" class="bg-black out fcolor">
          <option value="location ">Global</option>
          <option value="location">India</option>
          <option value="location">Usa</option>
          <option value="location">Brazil</option>
          <option value="location">China</option>
          <option value="location">Russia</option>
          <option value="location">Spain</option>
          <option value="location">Korea</option>
        </select>
      </div>
      <!-- <div class="col-md-2 col-2">Language<select name="language" id="GLOBAL" class="bg-black text-success">
  <option value="location">English</option>
  <option value="location">हिन्दी</option>
  <option value="location">Français</option>
  <option value="location">日本語</option>
  <option value="location">Italiano</option>
</div> -->
      <div class="col-sm-6 col- fcolor ms-auto ">Copyright © 1996 - 2025 ZORO.to All rights reserved. | Terms of Use
        |
        Privacy Policy | Cookies Settings | Sitemap</div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>let items = document.querySelectorAll('.ala .alla')
  
      items.forEach((el) => {
        const minPerSlide = 4
        let next = el.nextElementSibling
        for (var i = 1; i < minPerSlide; i++) {
          if (!next) {
            // wrap carousel by using first child
            next = items[0]
          }
          let cloneChild = next.cloneNode(true)
          el.appendChild(cloneChild.children[0])
          next = next.nextElementSibling
        }
      })
  
      $(document).ready(function(){
    
   
      $(window).scroll(function(){
      var wscall=$(document).scrollTop()
      console.log(wscall)
   
    
     if((wscall>50)&&(wscall<400)){
     
      $(".l31").addClass("animate__animated animate__bounceInLeft")
      $(".l32").addClass("animate__animated animate__bounceInRight")
       
        }
        else if((wscall>1000)&&(wscall<1250)){
          $(".l25").addClass("animate__animated animate__bounceInUp")
          $(".l26").addClass("animate__animated animate__bounceInLeft")
      $(".lala22").addClass("animate__animated animate__bounceInRight")
   }
  
      else if((wscall>1350)&&(wscall<2230)){
        $(".l26").addClass("animate__animated animate__bounceInLeft")
      $(".l27").addClass("animate__animated animate__bounceInRight")
      $(".l28").addClass("animate__animated animate__bounceInLeft")
      $(".l29").addClass("animate__animated animate__bounceInRight")
  }
  
      else if((wscall>2300)&&(wscall<2600)){
          $(".l25").addClass("animate__animated animate__bounceInUp")
    }
  
      else if((wscall>2600)&&(wscall<3100)){
        $(".l25").addClass("animate__animated animate__bounceInUp")
        $(".lala21").addClass("animate__animated animate__bounceInLeft")
      $(".lala22").addClass("animate__animated animate__bounceInRight")
      }
      else if((wscall>3200)&&(wscall<3600)){
        $(".l26").addClass("animate__animated animate__flip ")
        $(".l25").addClass("animate__animated animate__bounceInRight")
          $(".l26").addClass("animate__animated animate__bounceInLeft")
      }
      else if((wscall>3670)&&(wscall<4450)){
        $(".l26").addClass("animate__animated animate__flip ")
      }
    else if((wscall>4550)&&(wscall<4790)){
        $(".lala20").addClass("animate__animated animate__bounceInLeft")
        $(".lala21").addClass("animate__animated animate__bounceInLeft")
        $(".lala22").addClass("animate__animated animate__flipInX ")
        $(".lala23").addClass("animate__animated animate__bounceInRight ")
        $(".lala24").addClass("animate__animated animate__bounceInRight ")
        }
    
    else if((wscall>2900)&&(wscall<2950)){
    $(".lala19").addClass("animate__animated animate__flip ")
    
    }
    
    
    }) })
  </script>

</body>

</html>