.w200{width: 200px;}
td{vertical-align: middle !important;}
.text {
    color: rgb(0, 196, 0);
}
.list-unstyled{position: relative;
padding: 10px 20px;
background-color: #0f1015;
border-radius: 0px 0px 12px 12px !important;
bottom: 20px;
z-index: -10;}

.profile{ 
   
  
height: 54px;
transition: 2s;
padding: 7px 2px;
border-radius: 10px ;
/* border-left: 5px solid #198754; */
background-color:#0f1015 ;}
.h_150{height: 180px;
transition: 2s;
transform-origin: bottom ;
animation:alternate;}
.pro{
    padding:10px 13px;
    margin-bottom: 2px;
    margin-left: 8px;
    border-radius: 50%;
    background: rgb(93,255,0);
    background: linear-gradient(180deg, rgb(63 144 17 / 88%) 9%, rgba(16,84,6,1) 47%, rgba(2, 138, 13, 0.336) 84%);
}
.fa{color: rgb(252, 7, 7) !important;}

.navbar{position: sticky;
    left: 0px;
    top: 0px;}

.side-body{z-index: -1 !important;}
 
.sidebar {
    height: calc(100vh - 60px);
 
    width: 270px;
    background-color: #191c24;
    transition: 1s;
    position: sticky;
    left: 0px;
    top: 62px !important;
    overflow-y: hidden;
}
    .ws{white-space: nowrap;}
    .bp {
        position: absolute;
        width: 100%;
        bottom: 0px;
    }

    /* *{ color: #6c7293;} */
    .search {
        width: 100vh !important;
        outline-color: none !;
        margin: 2px 10px;
       
        outline: rgb(4, 245, 4);
    border: 1px solid rgb(17, 241, 17);
    }

    .icon_bg {
        border-radius: 8px;
        padding: 10px;
        height: 48px;
        background-color: rgba(0, 128, 0, 0.144);
    }

    a {
        text-decoration: none !important;
        color: white;
    }

    

    .brdr_l {
        border-left: 2px solid white;
    }

    .off_sidebar {
        width: 66px !important;

    }

    .dash-tabs {
        display: flex;
        background-color: #0f1015;
        border-radius: 0px 50px 50px 0px;
        padding: 8px 10px;
        border-left: 5px solid #198754;


    }

    .dash-text {
      color: #02e60d;
        padding:9px 5px;
        transform-origin: left;
        transition: 3s;
        opacity: 1;
        font-size: 0.9375rem;
        margin-left: 10px;
        font-weight: 600
    }

    .dash_text2 {
        display: none;
        transition: 3s;
        opacity: 0;


    }

  

    nav{background-color: #191c24}

.dash-iconn{  padding: 11px;
    margin-bottom: 2px;
   display:inline-flex;
    border-radius: 50%;
 margin-right: 10px;
    background-color: rgba(0, 128, 0, 0.356)}
    .dash-iconnn{  padding: 14px;
        margin-bottom: 12px;
       display:inline-flex;
        border-radius: 50%;
     margin-right: 5px;
        background-color: rgba(0, 128, 0, 0.356)}
input:focus {
    outline: none !important;
}

.card .circle {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: default;
}

.card .circle .box,
.card .circle .box span {
    position: absolute;
    top: 50%;
    left: 50%;
}


.card .circle .box span,
.card .text {
    background: -webkit-linear-gradient(left, #15e003, #02be0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.circle .box span {
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 600;
    transform: translate(-45%, -45%);
    transition: all 0.1s;
}

.card .circle:hover .box span {
    transform: translate(-45%, -45%) scale(1.09);
}




.search {
    width: 100vh !important;
    outline-color: none !;
    margin: 2px 10px;
}

.icon_bg {
    border-radius: 8px;
    padding: 10px;
    height: 48px;
    background-color: rgba(0, 128, 0, 0.144);
}

a {
    text-decoration: none !important;
}

.text{color: #02be0c !important;}

.brdr_l {
    border-left: 2px solid white;
}

.off_sidebar {
    width: 66px !important;

}

.dash-tabs {
    display: flex;
    background-color: #0f1015;
    border-radius: 0px 50px 50px 0px;
  
    border-left: 5px solid #007eff;


}

.dash_text2 {
    display: none;
    transition: 3s;
    opacity: 0;


}



.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 2px solid green !important;
    border-radius: 0px !important;
    color: green !important;
}

.nav-link {
    color: rgb(118, 118, 118) !important;
}

.pro_img {
    width: 44px;
    height: 34px;
    border-radius: 50%;
    object-fit: contain;
}
.dash-icon{padding: 10px 13px;
    background: rgb(93,255,0);
    background: linear-gradient(180deg, rgb(63 144 17 / 88%) 9%, rgba(16,84,6,1) 47%, rgba(2, 138, 13, 0.336) 84%);
border-radius: 50%;}
.card_bg{border: none;
    background: rgb(93,255,0);
    background: linear-gradient(180deg, rgb(63 144 17 / 88%) 9%, rgba(16,84,6,1) 47%, rgba(2, 138, 13, 0.336) 84%);
}
.acc{width: 49px;
height: 49px;
border-radius: 50%;}

.acc_h{
    height: 400px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.card_bgg{background: rgb(0,255,203);
    background: radial-gradient(circle, rgb(4, 92, 1) 0%, rgba(0,56,9,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}

    .bg_01{background-color: #0f1015;
    padding: 25px;
border-radius: 15px;}

.bbb{
    background: rgb(0,255,203);
    background: radial-gradient(circle, rgb(21 239 14 / 10%) 0%, rgb(6 97 21 / 23%) 100%),url('/static/images/brand/bggg.jpg');
   background-attachment: fixed;
z-index: -1;}