
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container-fluid  border-top border-success text-light ">
        <div class="row my-4">
          <div class="col-lg-2 col-sm-4 py-4 l25">
            <ul class="footer">
              <h5 class=" fcolor">SHOP</h5>
              <li>Zoro Store</li>
              <li>Store Locator</li>
              <li>Purchase Programs</li>
              <li>Warranty</li>
              <li>Exclusives</li>
    
            </ul>
          </div>
    
          <div class="col-lg-2 col-sm-4 py-4 lala14">
            <ul class="footer">
              <h5 class=" fcolor">Explore</h5>
              <li>Technology</li>
              <li>Chroma RGB</li>
              <li>Concepts</li>
              <li>Esports</li>
              <li>Zoro Innovation</li>
    
            </ul>
          </div>
    
          <div class="col-lg-2 col-sm-4 py-4 l27">
            <ul class="footer">
              <h5 class=" fcolor">Support</h5>
              <li>Warranty</li>
              <li>ZoroStore Support</li>
              <li>Manage Zoro ID</li>
              <li>Support Videos</li>
              <li>Accessibility Statement</li>
              <li>Shipping/RMA/Returns</li>
            </ul>
          </div>
    
          <div class="col-lg-2 col-sm-4 py-4 lala15">
            <ul class="footer">
              <h5 class=" fcolor">About</h5>
              <li>Blog</li>
              <li>Supply Chain Disclosure</li>
              <li>Social Impact</li>
              <li>Careers</li>
              <li>Contact Us</li>
              <li>Blog</li>
            </ul>
          </div>
    
          <div class="col-lg-4 col-sm-6 py-4 lala12">
            <ul class="footer border-start border-dark border-3 ">
              <h5 class=" fcolor">BE THE FIRST TO KNOW</h5>
              <li>Get special offers, exclusive product news, and event <br> info straight to your inbox.</li>
              <li class="my-1">EMAIL</li>
    
              <label class="x">
                <input type="text" name="" placeholder="email" class="bg-dark rounded-2">
                <button class="btn btn-success lol">signup</button>
              </label>
              <li class="mt-1">
                <a href=""><img src="/static/fb.png" alt="" class=" lol lala19"></a>
               <a href=""> <img src="/static/ins.png" alt="" class=" lol lala19"></a>
               <a href=""> <img src="/static/lin.png" alt="" class=" lol lala19"></a>
               <a href=""> <img src="/static/twi.png" alt="" class=" lol lala19"></a>
                <a href=""><img src="/static/yt.png" alt="" class=" lol lala19" ></a>
              </li>
            </ul>
          </div>
    
    
        </div>
      </div>
    
      <div class="container-fluid px-5 z">
    
        <div class="row border-top border-success pt-2">
    
          <div class="col-sm-2 col-2 ">location <select name="country" id="" class="bg-black out fcolor">
              <option value="location ">Global</option>
              <option value="location">India</option>
              <option value="location">Usa</option>
              <option value="location">Brazil</option>
              <option value="location">China</option>
              <option value="location">Russia</option>
              <option value="location">Spain</option>
              <option value="location">Korea</option>
            </select>
          </div>
  
          <div class="col-sm-6 col-10 fcolor mx-auto ">Copyright © 1996 - 2025 ZORO.to All rights reserved. | Terms of Use
            |
            Privacy Policy | Cookies Settings | Sitemap</div>
        </div>
      </div>
    
<script src="/static/cdn/bootstrap.bundle.min.js"></script>
</body>
</html>