
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/cdn/bootstrap.min.css">
    <link rel="stylesheet" href="/static/cdn/fontawsome.min.css">
  <link rel="icon" type="image/x-icon" href="/static/images/brand/logo.gif">
    
    



</head>


<body>
    <nav class="navbar navbar-expand-lg bg-black navbar-dark fixed-top py-0">
        <div class="container py-2">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand mx-auto lol  active tabs" href="index.html"><img src="/static/images/brand/logo.gif" alt="" class="img-fluid">ⱫØⱤØ</a>
    
          <div class="collapse navbar-collapse mx-lg-5 mx-sm-0" id="navbarText">
            <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
    
              <li class="nav-item mx-4 lol tabs">
                <a class="nav-link" aria-current="page" href="pc.html">PC</a>
              </li>
              <li class="nav-item mx-4 lol tabs">
                <a class="nav-link" href="console.html">CONTROLLER</a>
              </li>
              <li class="nav-item mx-4 lol tabs">
                <a class="nav-link" href="Laptop.html">LAPTOP</a>
              </li>
              <li class="nav-item mx-4 lol tabs">
                <a class="nav-link" href="accessories.html">ACCESSORIES</a>
              </li>
              <li class="nav-item mx-4 lol tabs">
                <a class="nav-link" href="service.html">SERVICE</a>
              </li>
              <li class="nav-item mx-4 lol tabs">
                <a class="nav-link" href="community.html">COMMUNITY</a>
              </li>
              <div class="collapse " id="collapseExample">
                <div class="card card-body bg-black ">
                  <input type="search" name="" class="bcolor lol rounded-2 text-light out">
                </div>
              </div>
              <li class=" mx-4 "><a class="btn py-1" data-bs-toggle="collapse" href="#collapseExample" role="button"
                  aria-expanded="false" aria-controls="collapseExample">
                  <i class="fa-solid fa-magnifying-glass"></i>      
                      </a>
    
              </li>
            </ul>
    
          </div>
        </div>
      </nav>
     <script src="/static/cdn/fontawesome.all.min.js"></script>
</body>
</html>