<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/cdn/bootstrap.min.css"  type="text/css">
  <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  <link rel="stylesheet" href="/static/cdn/fontawsome.min.css"  type="text/css">
  <link rel="icon" type="image/x-icon" href="/static/images/brand/logo.gif">





</head>


<body>
  <nav class="navbar navbar-expand-lg bg-black navbar-dark fixed-top py-0">
    <div class="container py-2">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mx-auto lol  active tabs" href="/"><img src="/static/images/brand/logo.gif" alt=""
          class="img-fluid">ⱫØⱤØ</a>

      <div class="collapse navbar-collapse mx-lg-5 mx-sm-0" id="navbarText">
        <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">

          <li class="nav-item mx-4 lol tabs">
            <a class="nav-link" aria-current="page" href="/pc">PC</a>
          </li>
          <li class="nav-item mx-4 lol tabs">
            <a class="nav-link" href="/controller">CONTROLLER</a>
          </li>
          <li class="nav-item mx-4 lol tabs">
            <a class="nav-link" href="/laptop">LAPTOP</a>
          </li>
          <li class="nav-item mx-4 lol tabs">
            <a class="nav-link" href="/accessories">ACCESSORIES</a>
          </li>
          <li class="nav-item mx-4 lol tabs">
            <a class="nav-link" href="/service">SERVICE</a>
          </li>
          <li class="nav-item mx-4 lol tabs">
            <a class="nav-link" href="/community">COMMUNITY</a>
          </li>
          <div class="collapse " id="collapseExample">
            <div class="card card-body bg-black ">
              <input type="search" name="" class="bcolor  rounded-2 text-light out searchInput">
            </div>
          </div>
          <li class=" mx-4 "><a class="btn py-1" data-bs-toggle="collapse" href="#collapseExample" role="button"
              aria-expanded="false" aria-controls="collapseExample">
              <i class="fa-solid fa-magnifying-glass text"></i>
            </a>

          </li>
        </ul>

      </div>
      <div class="px-4 d-lg-none ">

        <%if(name.length>0){%>

          <a href="/profile" >
            <img src="/static/images/category/profile/<%= name[0].user_profile %>" alt="" class="rounded-circle"
              width="45" height="45"> </a>
          <% }else{%>
            <a href="/login" class="text-decoration-none text">
              <div class="btn bcolor text-white">Sign Up</div>
            </a>
            <%}%>
  
      </div>





    </div>
    <div class="px-4 d-lg-block d-none">

      <%if(name.length>0){%>
        <a href="/profile">
          <img src="/static/images/category/profile/<%= name[0].user_profile %>" alt="" class="rounded-circle"
            width="45" height="45"> </a>
        <% }else{%>
          <a href="/login" class="text-decoration-none text">
            <div class="btn bcolor text-white">Sign Up</div>
          </a>


          <%}%>

    </div>
  </nav>






  <button class="btn btn-transparent bg-black px-3 out lol carts" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasScrolling"><span class="nuu">
      <%= cou[0].num_results %>
    </span> <img src="/static/images/icon/cart.png" alt=""></button>
  <div class="offcanvas offcanvas-end bg-black" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header border-bottom border-2 border-success ">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel"><img src="/static/images/icon/cart.png" alt=""
          class="pb-2"><span class="fcolor fw-bold h4 px-5">YOUR CART</span></h5>
      <button type="button" class="btn-close py-0 pb-3 pe-3 lol" data-bs-dismiss="offcanvas" aria-label="Close"><img
          src="/static/close.png" alt=""></button>
    </div>



    <div class="offcanvas-body text-light ">
      <div id="cartbody">

      </div>


    </div>
  </div>











  <script src="/static/cdn/bootstrap.bundle.min.js"></script>
  <script src="/static/cdn/jquery-3.6.0.min.js"></script>
  <script src="/static/cdn/popper.min.js"></script>
  <script src="/static/cdn/fontawesome.all.min.js"></script>
  



  <script>
    $(document).ready(function () {



      $.ajax({
        type: 'GET',
        url: '/cartonpage',

        success: function (response) {

          document.getElementById('cartbody').innerHTML = ' ';
if(response.product){
          for (let i = 0; i < response.product.length; i++) {
            $('#cartbody').append(`
              <div class="py-3 border-bottom border-success">
                <div class="row">
               
                  <img src="/static/images/category/product/${response.product[i].cart_image}" alt="" class="img-fluid">
              
                <div class="col-6">
                  <span class="ps-2">${response.product[i].cart_pname}</span>
                </div> 
                <div class="col-2 pt-1">
                 ${response.product[i].cart_pprice}
                </div>
                  <div class="col-2">
                    <input type="number" value="${response.product[i].product_quantity}"
            class="bg-black text-light w-100 out rounded-2 p-2" id="product_quantity">
              <input type="hidden" name="" id="product_id" value="${response.product[i].product_id}">

                </div>
                  <div class="col-2 ">
                    <button class="dddd bcolor rounded-2 border-0 p-2">
                    <img src="/static/images/icon/delete.png" alt="">
                  </button>
                </div> 
                </div> 
              </div>
            `);
          }}else{
            
          }
        }
      });
    })



  </script>
  <script>
    $(document).ready(function () {

      $(document).on('keyup', '#product_quantity', function () {
        var a = $(this).closest('div').find('#product_quantity')
        var bb = a.val()
        var b = Number(bb)
        var c = $(this).closest('div').find('#product_id')
        var d = c.val()

        if (b !== '' && b !== 0) {
          $.ajax({
            type: 'POST',
            url: '/quantity_change',
            data: {
              product_quantity: b, product_id: d
            },
            success: function (response) {
            }
          })
        }
        else if (b === 0) {
          $.ajax({
            type: 'POST',
            url: '/delete_cart',
            data: { product_id: d },
            success: function (response) {
              window.location.reload()
            }
          })
        }

        else {
          alert('quantity cant be null')
        }
      })

       $(document).on('click', '.dddd', function () {
 
 
 
         var product_id = $(this).closest('button').parent().parent('div').find('#product_id').val()
        
         $.ajax({
           type: 'POST',
           url: '/delete_cart',
           data: {
             product_id: product_id
 
           },
           success: function (response) {
             alert("delete")
             setTimeout(function () {
               window.location.reload();
             }, 1000);
           }
 
 
         })
 
       })
    })




    $(document).on('click', function (event) {
      var clickedOutsideCollapse = true;

      // Check if the click is outside of any collapse area
      $('.collapse').each(function () {
        if ($(this).hasClass('show') && $(event.target).closest('.collapse').is($(this))) {
          clickedOutsideCollapse = false;
        }
      });

      // If the click is outside of any collapse area, close the opened collapse
      if (clickedOutsideCollapse) {
        $('.collapse.show').collapse('hide');
      }
    });





    $(document).ready(function(){
$(document).on('click','#logout',function(){
    $.ajax({
          type: 'GET',
          url: '/logout',
          data:{"lala":'lalal'},
          success: function (response) {
            if(response.msg=='logout'){
console.log(response.msg);
window.location.reload()}
          }})})})





  </script>




</body>

</html>