<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/cdn/bootstrap.min.css">
  <link rel="stylesheet" href="/static/cdn/fontawsome.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="icon" type="image/x-icon" href="/static/images/brand/logo.gif">





</head>


<body>
  <nav class="navbar navbar-expand-lg bg-black navbar-dark fixed-top py-0">
    <div class="container py-2">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mx-auto lol  active tabs" href="index.html"><img src="/static/images/brand/logo.gif" alt=""
          class="img-fluid">ⱫØⱤØ</a>

      <div class="collapse navbar-collapse mx-lg-5 mx-sm-0" id="navbarText">
        <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">

          <li class="nav-item mx-4 lol tabs">
            <a class="nav-link" aria-current="page" href="/PC">PC</a>
          </li>
          <li class="nav-item mx-4 lol tabs">
            <a class="nav-link" href="console.html">CONTROLLER</a>
          </li>
          <li class="nav-item mx-4 lol tabs">
            <a class="nav-link" href="Laptop.html">LAPTOP</a>
          </li>
          <li class="nav-item mx-4 lol tabs">
            <a class="nav-link" href="accessories.html">ACCESSORIES</a>
          </li>
          <li class="nav-item mx-4 lol tabs">
            <a class="nav-link" href="service.html">SERVICE</a>
          </li>
          <li class="nav-item mx-4 lol tabs">
            <a class="nav-link" href="community.html">COMMUNITY</a>
          </li>
          <div class="collapse " id="collapseExample">
            <div class="card card-body bg-black ">
              <input type="search" name="" class="bcolor lol rounded-2 text-light out">
            </div>
          </div>
          <li class=" mx-4 "><a class="btn py-1" data-bs-toggle="collapse" href="#collapseExample" role="button"
              aria-expanded="false" aria-controls="collapseExample">
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>

          </li>
        </ul>

      </div>
    </div>
  </nav>






  <button class="btn btn-transparent bg-black px-3 out lol carts" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasScrolling"><img src="/static/images/icon/cart.png" alt=""></button>
  <div class="offcanvas offcanvas-end bg-black" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header border-bottom border-2 border-success ">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel"><img src="/static/images/icon/cart.png" alt=""
          class="pb-2"><span class="fcolor fw-bold h4 px-5">YOUR CART</span></h5>
      <button type="button" class="btn-close py-0 pb-3 pe-3 lol" data-bs-dismiss="offcanvas" aria-label="Close"><img
          src="product/close.png" alt=""></button>
    </div>
    <div class="number">
      <span class="minus">-</span>
      <input type="text" value="1"/>
      <span class="plus">+</span>
    </div>
  
  
    <div class="offcanvas-body text-light ">
      <div id="cartbody">
        <div class="py-3 border-bottom border-success">
          <span><img src="product/cart1.png" alt="" class=""><span class="ps-2"> controller</span></span> <br>
          <p class="ps-5 ms-5 text-warning"> ₹12,910
            <input type="number" id="quantity" name="quantity" min="1" max="10"
              class="bg-black text-light w-25 ms-5  out">
            <button class="btn  lol p-0 ms-4 "><img src="/static/images/icon/delete.png" alt=""></button>
          </p>
        </div>
      </div>

      <div class=" pt-3 border-top border-2 border-success">


        <!-- <div class="mt-4 pt-4">
            <table class="table text-light border-success">
              <tbody>
                <tr>
                  <th scope="row">Subtotal </th>
                  <td>₹68,000 </td>
  
                </tr>
                <tr>
                  <th scope="row">Shipping</th>
                  <td>₹650 </td>
  
                </tr>
                <tr>
                  <th scope="row">Tax </th>
                  <td>₹12,100 </td>
  
                </tr>
                <tr>
                  <th scope="row">Grand Total</th>
                  <td>₹91,680 </td>
  
                </tr>
                <tr>
                  <label class="x mb-2 ">
                    <input type="text" name="" placeholder="Enter A Coupon Code" class="bg-dark rounded-2 out text-light">
                    <button class="btn btn-transparent p-1 lol">Apply</button>
                  </label>
                </tr>
              </tbody>
            </table>
          </div> -->
        <div class="x text-light">
          <button class="btn btn-transparent lol">Continue Shoping</button>
          <button class="btn btn-transparent px-3 ms-2 lol">Checkout</button>

        </div>
      </div>
    </div>
  </div>












  <script src="/static/cdn/bootstrap.bundle.min.js"></script>
  <script src="/static/cdn/jquery-3.6.0.min.js"></script>
  <script src="/static/cdn/popper.min.js"></script>
  <script src="/static/cdn/fontawesome.all.min.js"></script>

<script>	$(document).ready(function() {
  $('.minus').click(function () {
    var $input = $(this).parent().find('input');
    var count = parseInt($input.val()) - 1;
    count = count < 1 ? 1 : count;
    $input.val(count);
    $input.change();
    return false;
  });
  $('.plus').click(function () {
    var $input = $(this).parent().find('input');
    $input.val(parseInt($input.val()) + 1);
    $input.change();
    return false;
  });
});</script>
  
  <script>
    $(document).ready(function () {
      $(document).on('click', '.carts', function () {
    
      $.ajax({
        type: 'GET',
        url: '/cartonpage',
      
        success: function (response) {
          document.getElementById('cartbody').innerHTML = ' ';
         
          for (let i = 0; i < response.product.length; i++) {    
            $('#cartbody').append(`
              <div class="py-3 border-bottom border-success">
                <div class="row">
               
                  <img src="/static/images/category/product/${response.product[i].cart_image}" alt="" class="w-25">
              
                <div class="col-2">
                  <span class="ps-2">${response.product[i].cart_pname}</span>
                </div> 
                <div class="col-2">
                 ${response.product[i].cart_pprice}
                </div>
                  <div class="col-3">

                </div>
                  <div class="col-2 ">
                  <button class=" btn">
                    <img src="/static/images/icon/delete.png" alt="">
                  </button>
                </div> 
                </div> 
              </div>
            `);
          }
        }
      });
    })})
    
    
    
      </script>
    
</body>

</html>